html {
background-color:#EEF1F6;
background-repeat:no-repeat;
font-family:'Open sans', Arial, Helvetica, sans-serif;
font-weight:300;
}
body {
margin:1% auto;
max-width:96em;
}
form {
overflow:auto;
height:100%;
background-color:#fff;
border-color:#f1f1f1;
border-radius:5px;
padding:0.5em 1.2em;
}
fieldset {
margin:1em 0.5em 1em;
}
.main {
float: left;
width: 70%;
overflow: auto;
padding-bottom: 1em;
}
.options fieldset {
margin-top:0;
float:left;
width:31%;
padding-bottom:1em;
}
legend {
font-size:1.8em;
padding:0.1em 0 0.9em;
}
#header {
overflow:auto;
height:100%;
}
h1 {
font-size:4.5em;
font-weight:600;
margin-bottom:1em;
float:left;
width:70%;
}
h1 a {
text-decoration:none;
}
.controls {
text-align:right;
float:right;
width:25%;
}
#character-count {
margin-right: 0.8em;
font-size: 2.2em;
padding-top: 0.8em;
display:inline-block;
}
input.submit {
font-size:4em;
}

.hide {
display:none;
}
.hidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

#the-message {
position:relative;
}
#the-message label {
font-size:1.5em;
}
#the-message textarea {
width:100%;
font-size:2em;
padding:0.35em;
overflow:hidden;
}
#message {
transition:height 0.7s;
}
#the-message textarea#message-clone {
visibility:hidden;
position:absolute;
top:0;
left:0;
z-index:-1;
}


#the-services {
float:right;
width:25%;
}
#the-services select {
margin:0.5em 0 0.8em;
}
#the-services input {
position:relative;
top:-0.2em;
}
#the-services label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
#the-services .group {
font-size:80%;
color:#666;
text-transform:uppercase;
}
#the-services ul {
padding-left:0.3em;
}
#the-services ul ul {
padding-top:0.25em;
padding-left:1em;
}
#the-services li {
list-style: none;
font-size: 1.6em;
line-height: 1.333;
padding-bottom: 0.45em;
}
#the-services li li {
font-size:1em;
}
#the-services i {
font-size:85%;
}


.buttons {
padding:1em 0;
}
.buttons button {
font-size:1.75em;
color:#ccc;
transition:width 0.7s;
}
.buttons span {
font-size: 70%;
position: relative;
top: -0.25em;
font-weight: 300;
}
.buttons .active {
color:#06f;
}
#the-time {
}
#map p {
font-size:1.3em;
margin-bottom:0.6em;
}


label {
display:block;
cursor:pointer;
}